.headerr {
  /* animation: headerr 1s ease-in-out infinite; */
  animation: headerr 2s linear infinite;
}

@keyframes headerr {
  0% {
    filter: drop-shadow(0 0 10px rgb(153, 0, 255));
  }
  50% {
    filter: drop-shadow(0 0 20px rgb(104, 42, 101));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(108, 1, 207));
  }
}

.glow {
  /* animation: glow 1s ease-in-out infinite; */
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px rgb(12, 255, 243));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.596));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(0, 247, 255));
  }
}

.idea {
  /* animation: glow 1s ease-in-out infinite; */
  animation: idea 2s linear infinite;
}

@keyframes idea {
  0% {
    filter: drop-shadow(0 0 10px rgb(255, 251, 12));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(220, 255, 20, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(255, 251, 25));
  }
}

.section2 {
  /* animation: glow 1s ease-in-out infinite; */
  animation: section2 2s linear infinite;
}

@keyframes section2 {
  0% {
    filter: drop-shadow(0 0 10px rgb(166, 12, 255));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(82, 10, 92, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(134, 5, 255));
  }
}

.stars {
  animation: stars 1s ease-in-out infinite;
  /* animation: stars 2s linear infinite; */
}

@keyframes stars {
  0% {
    filter: drop-shadow(0 0 10px rgb(253, 251, 255));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(252, 252, 252));
  }
}
/* 
.section2 {
  /* animation: glow 1s ease-in-out infinite; 
  animation: section2 2s linear infinite;
} 
*/

/* @keyframes section2 {
  0% {
    filter: drop-shadow(0 0 10px rgb(166, 12, 255));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(82, 10, 92, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(134, 5, 255));
  }
} */ */

.glowing {
  -webkit-box-shadow:0px 0px 300px 76px rgba(211,24,240,0.9);
-moz-box-shadow: 0px 0px 300px 76px rgba(211,24,240,0.9);
box-shadow: 0px 0px 300px 76px rgba(211,24,240,0.9);
  border-radius: 50%;
}


.glowing {
  /* animation: glowing 1s ease-in-out infinite; */
  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 10px rgb(253, 251, 255));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(252, 252, 252));
  }
}